<div class="px2-horizontal-list px2-horizontal-list--right">
	<ul>
		<li><button type="button" class="px2-btn px2-btn--primary" data-btn-create-new-blog>新規ブログを追加</button></li>
	</ul>
</div>

<div class="px2-linklist">
	<ul>
{% for key,row in blog_list %}
		<li>
			<a href="javascript:;" data-btn-article-list="{{ row.blog_id }}">{{ row.blog_id }}</a>
		</li>
{% endfor %}
	</ul>
</div>
